body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #333;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.navbar-item {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.navbar-item:hover {
    background-color: #666;
}

.navbar-item:active {
    background-color: #999;
}
