<!DOCTYPE html>
<html>
<head>
    <title>List of Games</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>

    <h2>List of All Games</h2>
    <br/>
    <div class="game-list">
        {% for game in games %}
            <div class="game-item">
                <a href="/game/{{ game[0] }}">{{ game[1] }}</a>
                <hr/>
            </div>
        {% endfor %}
    </div>

    <a href="/create-game" class="create-game-button">Create Game</a>
</body>
</html>
