<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Navbar</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
<nav class="navbar">
    <a href="/" class="navbar-item">Home</a>
    <a href="/create-db" class="navbar-item">Create Database</a>
    <a href="/get-users" class="navbar-item">Get Users</a>
    <a href="/create-user" class="navbar-item">Create User</a>
    <a href="/get-games" class="navbar-item">Get Games</a>
    <a href="/contact" class="navbar-item">Contact</a>
    <a href="/support" class="navbar-item">Support</a>
</nav>


</body>
</html>
