<!DOCTYPE html>
<html>
<head>
    <title>Welcome to the Game Library</title>
</head>
<body>
    {% include 'navbar.html' %}

    <h1>Welcome to the Game Library</h1>

    <button onclick="redirectToGameList()">Game List</button>
    <button onclick="redirectToWishlist()">Wishlist</button>

    <div id="createGameForm" style="display: none;">
        {% include 'create-game.html' %}
    </div>

    <script>
        function redirectToGameList() {
            window.location.href = "/game-list";
        }

        function redirectToWishlist() {
            window.location.href = "/wishlist";
        }
    </script>
</body>
</html>
